# Ignore Python virtual environment directories
venv/
env/
.venv/
.env/
*env/
*/venv/
*/env/
*/.venv/
*/.env/

# Ignore common Python virtual environment files
Pipfile.lock
poetry.lock

# Ignore .DS_Store
.DS_Store